$headerFontSize: 2.0rem

.settings
  background-color: antiquewhite
  padding: 1vmin

.settings .shortInput
  flex: unset
  text-align: right
  width: 3em

.headerButton
  font-size: $headerFontSize
  font-weight: 650

.headerIcon
  height: $headerFontSize